.overflow {
    height: 282px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.overflow-function {
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;   
}

.bold {
    font-weight: bold;
}

.batesin{
    height: 690px;
}

.tinggi{
    height: 319px;
    width: 400px;
}

.lebar{
    width: 550px;
}

.textarea{
    width: 130em;
}

.aku{
    
}